Repository conference-hall/conference-hall: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix --cache --cache-location ./node_modules/.cache/eslint --ignore-path .gitignore -- {staged_files}

format:
  run: npx prettier -l --write {staged_files}

Upgrade dependencies (#259)
  .husky/pre-commit
  cypress/e2e/event/proposal-edit.cy.ts
  lefthook.yml
  package-lock.json
  package.json
  vite.config.ts
Due: lint, format

Use Biome.js
  .eslintrc.cjs
  .prettierrc.cjs
  .vscode/settings.json
  biome.json
  lefthook.yml
  package-lock.json
  package.json
Due: format

Update readme
  README.md
Due: format

Improve biome configuration
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.json
  lefthook.yml
  package.json
Due: format

Run in CI
  .github/workflows/ci.yml
Due: format

Add CI on production branch
  .github/workflows/ci.yml
Due: format

Add CI on production branch (#263)
  .github/workflows/ci.yml
Due: format

Clean some dependencies
  package-lock.json
  package.json
Due: format

Remove source-map-support dependency (#264)
  package-lock.json
  package.json
Due: format

Test gpg key
  package.json
Due: format

New commit
  package.json
Due: format

Remove source-map-support dependency
  package-lock.json
  package.json
Due: format

Add storage proxy endpoint
  app/libs/storage/storage.server.ts
  app/routes/_misc+/robots[.txt].ts
  app/routes/_misc+/storage.$filename.ts
Due: lint

Add storage proxy endpoint (#266)
  app/libs/storage/storage.server.ts
  app/routes/_misc+/robots[.txt].ts
  app/routes/_misc+/storage.$filename.ts
Due: lint

Add imutable in cache-control for image storage
  app/routes/_misc+/storage.$filename.ts
Due: lint

Upgrade depenndencies
  package-lock.json
  package.json
Due: format

Upgrade dependencies (#267)
  package-lock.json
  package.json
Due: format

Upgrade dependencies
  package-lock.json
  package.json
Due: format

Fix markdown parser
  app/libs/markdown/markdown-parser.ts
Due: lint

Upgrade dependencies (#269)
  app/libs/markdown/markdown-parser.ts
  package-lock.json
  package.json
Due: lint, format

Add issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: format

Add issue template (#270)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: format

Add GitHub link in footer
  app/routes/__components/footer.tsx
Due: lint

Change session cookie to Lax policy
  app/libs/auth/session.ts
Due: lint

Add nonce to error boundaries
  app/root.tsx
Due: lint

Remove migration script
  .gitignore
  migration/event.ts
  migration/index.ts
  migration/proposals.ts
  migration/surveys.ts
  migration/talks.ts
  migration/teams.ts
  migration/tests.ts
  migration/users.ts
  migration/utils.test.ts
  migration/utils.ts
  package-lock.json
  package.json
Due: lint, format

Add nonce to error boundaries (#271)
  app/root.tsx
Due: lint

Remove migration script (#272)
  .gitignore
  migration/event.ts
  migration/index.ts
  migration/proposals.ts
  migration/surveys.ts
  migration/talks.ts
  migration/teams.ts
  migration/tests.ts
  migration/users.ts
  migration/utils.test.ts
  migration/utils.ts
  package-lock.json
  package.json
Due: lint, format

Fix sentry sourcemap upload
  vite.config.ts
Due: lint

Fix sentry sourcemap upload (#273)
  vite.config.ts
Due: lint

Add db migration
  prisma/migrations/20240821182801_allow_tracks_multiple_selection/migration.sql
  prisma/schema.prisma
Due: none

Add event settings to allow tracks multiselect
  app/.server/event-page/event-page.ts
  app/.server/event-settings/event-tracks-settings.types.ts
  app/.server/event-settings/user-event.ts
  app/routes/team+/$team.$event+/settings+/tracks.tsx
Due: lint

Add tracks multiselect in forms
  app/routes/$event+/submission+/$talk.tracks.tsx
  app/routes/__components/talks/talk-forms/categories-form.tsx
  app/routes/__components/talks/talk-forms/formats-form.tsx
  app/routes/__components/talks/talk-forms/talk-form-drawer.tsx
  app/routes/__components/talks/talk-forms/talk-form.tsx
  app/routes/__components/talks/talk-section.tsx
Due: lint

Upgrade tests
  app/.server/event-page/event-page.test.ts
  app/.server/event-settings/user-event.test.ts
Due: lint

Add e2e tests
  cypress/e2e/team/event-settings.cy.ts
  cypress/page-objects/team/event-settings/tracks-settings.page.ts
Due: lint

Fix e2e tests
  cypress/e2e/event/proposal-edit.seed.ts
  cypress/e2e/event/submission.seed.ts
  cypress/e2e/team/event-settings.cy.ts
  cypress/e2e/team/proposal-review/proposal-review.seed.ts
  cypress/page-objects/team/event-settings/tracks-settings.page.ts
Due: lint

Allow tracks multi-selection (#276)
  app/.server/event-page/event-page.test.ts
  app/.server/event-page/event-page.ts
  app/.server/event-settings/event-tracks-settings.types.ts
  app/.server/event-settings/user-event.test.ts
  app/.server/event-settings/user-event.ts
  app/routes/$event+/submission+/$talk.tracks.tsx
  app/routes/__components/talks/talk-forms/categories-form.tsx
  app/routes/__components/talks/talk-forms/formats-form.tsx
  app/routes/__components/talks/talk-forms/talk-form-drawer.tsx
  app/routes/__components/talks/talk-forms/talk-form.tsx
  app/routes/__components/talks/talk-section.tsx
  app/routes/team+/$team.$event+/settings+/tracks.tsx
  cypress/e2e/event/proposal-edit.seed.ts
  cypress/e2e/event/submission.seed.ts
  cypress/e2e/team/event-settings.cy.ts
  cypress/e2e/team/proposal-review/proposal-review.seed.ts
  cypress/page-objects/team/event-settings/tracks-settings.page.ts
  prisma/migrations/20240821182801_allow_tracks_multiple_selection/migration.sql
  prisma/schema.prisma
Due: lint

Fix speaker survey upsert
  app/.server/cfp-survey/speaker-answers.ts
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{json,md,mdx,html,css,yml}
